html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    background-color: #e8eff5;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    padding: 20px;
}

h2, h4, p {
    margin: 0px;
}

button {
    color: white;
    background-color: #c0df34;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;

    font-family: 'Karla', sans-serif;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.35);
}

#card {
    width: 700px;
    height: 400px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    overflow: hidden;
}

#top-section {
    width: 100%;
    height: 45%;
    background-color: #fff;
    padding: 25px;
}

#bottom-section {
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left-section {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #2ab2af;
    padding: 25px;
}

#bottom-right-section {
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #6bbbbc;
    padding: 25px;
}

#top-section h2 {
    color: #2ab2af;
    margin-bottom: 20px;
}

#top-section h4 {
    color: #c0df34;
    margin-bottom: 10px;
}

#top-section p {
    color: #98a6bd;
}

#price {
    font-weight: 700;
    font-size: 1.4rem;
}

#bottom-left-section h4 {
    margin-top: 10px;
    margin-bottom: 15px;
}

#price-frequency, #price {
    display: inline-block;
}

#price-container {
    margin-bottom: 10px;
}

#price-frequency {
    position: relative;
    top: -3px;
    opacity: 0.7;
    margin-left: 5px;
}

#bottom-left-section p {
    font-size: 0.9rem;
    margin-bottom: 40px;
}

#bottom-right-section h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 0px;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}

li {
    margin-bottom: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #7D9121;
    transform: scale(1.02);
}

@media (max-width: 750px) {
    html, button {
        font-size: 20px;
    }
    #bottom-left-section, #bottom-right-section, #card {
        width: 100%;
        height: auto;
    }
}