body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: 2px solid #38184C;
    background-color: #A0CD60;
    color: #38184C;
    width: 300px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);

    transition-property: background-color, color;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #38184C;
    color: #A0CD60;
    cursor: pointer;
}