/* commenting */
/* body { */
    /* background-color: blue; */
    /* background-image: url("https://images.dog.ceo/breeds/mastiff-english/1.jpg"); */
    /* background-size: 10vh 10vh; */
    /* background-position: center; */
/* } */

.dropdown-button {
    background-color: blue;
    color: white;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: lightblue;
    min-width: 150px;
    display: none;
}

.dropdown-menu a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 11px 15px;
}

.dropdown-menu a:hover {
    background-color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: grey;
}

.dropdown {
    display: none;
}