@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-gray: #1a2a32;
    --dark-gray-2: #203139;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --yellow: #f2b147;
    --light-gray: #d3d3d3;
}

/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

body {
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

html,
body {
    height: 100%;
    background-color: var(--dark-gray);
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: 50px repeat(3, 80px) 60px;
    gap: 5px;
}

@media (min-width: 768px) {
    .grid {
        width: 490px;
        grid-template-columns: repeat(3, 150px);
        grid-template-rows: 50px repeat(3, 150px) 60px;
        gap: 20px;
    }
}

.turn {
    padding: 0px;
    /* color: var(--yellow); */

    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;

    display: flex;
    align-items: center;
    gap: 20px;
}

@keyframes turn-text-animation {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}

.turn p {
    font-size: 14px;
    animation: 0.6s ease-in-out turn-text-animation;
}

@keyframes turn-icon-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.turn i {
    font-size: 1.8rem;
    margin-left: 10px;
    animation: 0.6s ease-in-out turn-icon-animation;
}

.square {
    background-color: var(--gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.square:hover {
    cursor: pointer;
    opacity: 0.9;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.score p {
    font-size: 14px;
    font-weight: 600;
}

.score span {
    font-size: 12px;
    margin-top: 2px;
}

/* Menu styles */
.menu {
    position: relative;
}

.menu-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: var(--dark-gray-2);
    border: 1px solid transparent;
}

.menu .items {
    position: absolute;
    z-index: 10;
    top: 60px;
    right: 0;
    background-color: var(--dark-gray-2);
    border-radius: 2px;
    padding: 10px;
}

.menu .items button {
    background-color: transparent;
    padding: 8px;
    color: white;
}

.items button:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-contents {
    /* transform: translateY(-80px); */
    height: 150px;
    width: 100%;
    max-width: 300px; /* responsive design */
    background-color: var(--gray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    margin: 10px;
}

.modal-contents button {
    padding: 10px;
    background-color: var(--turquoise);
    color: var(--gray);
    border-radius: 3px;
}

/* Shared utility classes */
.hidden {
    display: none !important;
}

.yellow {
    color: var(--yellow);
}

.turquoise {
    color: var(--turquoise);
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
}

.border {
    border: 1px solid rgba(211, 211, 211, 0.4) !important;
}

/* Footer styles */
footer {
    color: white;
    margin-top: 50px;
}

footer p {
    margin-top: 10px;
    text-align: center;
}

footer a {
    color: var(--yellow);
}